<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Rpt_Tt_Ct_Summary.Properties.Settings.CMD_FXConnectionString"
            connectionString="Data Source=bcrjc.dyndns.info,1801;Initial Catalog=CMD-FX;Persist Security Info=True;User ID=sa;Password=0000"
            providerName="System.Data.SqlClient" />
        <add name="Rpt_Tt_Ct_Summary.Properties.Settings.dbBeautyCommSupportConnectionString"
            connectionString="Data Source=bcrjc.dyndns.info,1801;Initial Catalog=dbBeautyCommSupport;Persist Security Info=True;User ID=sa;Password=0000"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
